* {
  margin: 0;
  padding: 0;
}

.fundo-preto{
  background-color: black;
}

.container {
  height: 100vh;
  width: 70vw;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 15vw;
  
}

.item {
  border: 1px solid black;
  background-color: white;
  height: 180px;
  width: 180px;
  align-items: center;
  display: flex;
  justify-content: center;
  
}